.profile_username {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 450px;
}

.chart_card {
    background-color: #F4F0FE;
    padding: 3em;
    border-radius: 15px;
}

.stat_first_cards {
    margin-top: -130px;
    justify-content: center;
    align-items: center;
}

.user_tag_name {
    font-size: 12px;
}

.user_title {
    margin-bottom: 0 !important;
}

.chart_card_line {
    margin: auto;
    margin-top: 25px;
}